img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}
a {
  color: darkblue;
}
a:visited {
  color: blueviolet;
}
a:hover {
  color: seagreen;
}

#skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-decoration: underline;
}
#skip-link:focus {
  height: auto;
  width: auto;
  clip: auto;
  background: #fff;
  padding: 0 1em;
  z-index: 10000;
}

header {
  margin: 1em auto;
}
header #newspaper-name {
  font-size: 4em;
  font-family: Brush Script MT;
}
header nav {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
  box-shadow: 1em 0 5em 1em blue;
}
header nav a {
}

aside.readability {
  float: right;
  width: 50%;
  margin: 0 0 1em 1em;
  border: 2px solid grey;
  padding: 0.5em 1em 1em;
  background-color: white;
}
aside.readability span {
  font-style: italic;
  font-size: 0.8em;
}
aside.readability input:checked + * + span {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

main {
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  border: 0 solid sandybrown;
  border-width: 0 2px;
  background-color: bisque;
}

#more-stories + ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  justify-content: center;
}
#more-stories + ul li {
  border: 2px solid orange;
  padding: 1em;
}
#more-stories + ul li a {
  text-decoration: none;
}
#more-stories + ul li a:hover {
  text-decoration: overline;
}

footer {
  background-color: lightgray;
  padding: 5em;
  box-shadow: inset 0em 1em 1em slategray;
}
footer nav {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 1em;
}
footer nav img {
  width: 50px;
}
